<p>
  <strong>Arquivo XML:</strong>
  <% if @upload.xml_file.attached? %>
    <%= link_to 'Download', rails_blob_path(@upload.xml_file, disposition: 'attachment') %>
  <% else %>
    Nenhum arquivo carregado.
  <% end %>
</p>

<%= link_to 'Voltar', uploads_path %>
